body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
}

header {
    background: #002b5c;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.hidden {
    display: none;
}

button {
    background: #007bff;
    border: none;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}

input {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.pergunta-box {
    background: #ffffff;
    padding: 18px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-left: 5px solid #002b5c;
}

.alternativa {
    background: #e0e0e0;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.alternativa:hover {
    background: #cfcfcf;
    transform: scale(1.02);
}
footer {
    width: 100%;
    background: #002b5c;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px; /* Espaço entre o footer e o botão */
}
